@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background-image: url('/fondo.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@layer components {
  .font-times {
    font-family: 'Times New Roman', Times, serif;
  }
}
.inter-font {
  font-family: 'Inter', sans-serif;
}
  .font-arial {
    font-family: Arial, Helvetica, sans-serif;
  }